{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% block extras %}
	{% endblock %}

		<link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
	 	
	 	<script src="{% static 'DataTables/datatables.min.js' %}"></script>
	 	<script src="{% static 'js/bootstrap.min.js' %}"></script> 
	 	
		<title> {% block title %}{% endblock %}</title>

</head>
<body>
	{% block nav %}
	{% endblock %}

	{% block content %}
	{% endblock %}
	

	{% block extrascripts %}
	{% endblock %}
</body>
</html>