{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	{% block extras %}
	{% endblock %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	
	<title> {% block title %}   {% endblock %}</title>
	
	
</head>
<body>
  

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Nombre herramienta</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Diligenciar formulario<span class="sr-only">(current)</span></a></li>
          <li><a href="#">Consultar formulario</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Gestionar cuenta</a></li>
          <li><a href="/cuenta/logout/">Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
  </nav>


  {% block content %}
  {% endblock %}

  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>