{% extends 'base/base.html' %}

{% block nav %}	
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Nombre herramienta</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Diligenciar formulario<span class="sr-only">(current)</span></a></li>
				<li><a href="#">Consultar formulario</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Gestionar cuenta</a></li>
				<li><a href="/cuenta/logout/">Cerrar sesión</a></li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}

