{% extends extends %}
{% load staticfiles %}
{% load extra_filters %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container well">
	{% if form == 0%}
    <div class="jumbotron text-center">
	<h1>Error</h1>
		<p>Este formulario no existe.</p>
	</div>
	{% else %}

	<div id="mensajes">
	{% if messages %}
	    {% for message in messages %}
	    	{% if message.tags == 'error' %}
	    		<div class="alert alert-danger text-center messages">{{ message }}</div>
	    	{% else %}
	    		<div class="alert alert-{{ message.tags }} text-center messages">{{ message }}</div>
	    	{% endif %}
	    {% endfor %}
	{% endif %}
	</div>
	<ul class="nav nav-tabs">
		{% if rol == 1 and form.estado == 'pendiente' %}
 			<li class="active"><a data-toggle="tab" href="#evaluacion">Evaluación</a></li>
 		{% endif %} 

		{% for politica in politicas %}
			{% if forloop.first %}
				{% if rol != 1 or form.estado != 'pendiente' %}
					<li class="active"><a data-toggle="tab" href="#{{ politica.id }}">{{ politica.alias }}</a></li>	
				{% else %}
					<li><a data-toggle="tab" href="#{{ politica.id }}">{{ politica.alias }}</a></li>
				{% endif %}	
   			{% else %}
   				<li><a data-toggle="tab" href="#{{ politica.id }}">{{ politica.alias }}</a></li>
    		{% endif %}	
		{% endfor %}	
	</ul>

	<div class="tab-content">
		{% if rol == 1 and form.estado == 'pendiente' %}
			<div class="tab-pane fade in active col-md-6 col-md-offset-3" id="evaluacion">
				<h3 class="text-center">Evaluación del formulario</h3>
				<form id="formulario_calificar" class="form-horizontal formulario" action="" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label>Entidad</label>
						<p>{{ form.entidad }}</p>
						<label>Período</label>
						<p>{{ form.vigencia }}</p>
						<label>Fecha de envío</label>
						<p>{{ form.fecha_envio }}</p>
					</div>
					<div class="form-group">
						<label for="calificacion">Calificación</label>
						<select id="calificacion" name="estado" class="form-control input-sm">
							<option value="null">Ninguno</option>
							<option value="aprobado">Aprobado</option>
							<option value="no_aprobado">No aprobado</option>
						</select>
					</div>	
					<div class="form-group text-center">
						<input id="calificar" type="button" class="btn btn-sm btn-info" value="Enviar"/>
					</div>
				</form>
			</div>
		{% endif %}
		{% for politica in politicas %}
			{% if forloop.first %}
				{% if rol != 1 or form.estado != 'pendiente' %}
   					<div class="tab-pane fade in active" id="{{ politica.id }}"> 
   				{% else %}
   					<div class="tab-pane fade" id="{{ politica.id }}">
				{% endif %}		
   			{% else %}
   				<div class="tab-pane fade" id="{{ politica.id }}">
   			{% endif %}	
   				<input type="hidden" id="form_{{ politica.id }}" name="form_id" value="{{ form.id }}">
				<h3 class="text-center">  {{ politica.nombre }} </h3>
				<hr/>
				<div id="data_{{ politica.id }}" class="data" style="display:none"></div>
				<hr id="wrapper_{{ politica.id }}" class="data-wrapper" style="display:none"/>
				<div>
					<form id = "formulario_{{ politica.id }}" class="form-horizontal formulario detalle" action="" method="post">
						{% csrf_token %}
						<div class="form-group col-md-12">
							<label for="indicador">Indicador</label>
							<select id="indicador_{{ politica.id }}" name="indicador" class="form-control input-sm indicador_respuesta">
								<option value="null">Ninguno</option>
								{% for indicador in indicadores %}
									{% if indicador.politica_publica == politica %}
										<option value="{{ indicador.id }}">{{ indicador.nombre }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
						{% for pregunta in preguntas %}
							{% if forloop.counter0 != 0%}
								{% with preguntas|prev:forloop.counter0 as prev %}
									{% if pregunta.grupo != prev.grupo %}
										{% if pregunta.grupo == '1' %}
											<div class="col-md-12"><hr/><h3>Plan de desarrollo</h3><hr/></div>
										{% endif %}
										{% if pregunta.grupo == '2' %}
											<hr/><h3>Información general</h3><hr/>
											<div class="col-md-12"></div>
										{% endif %}
										{% if pregunta.grupo == '3' %}
											<hr/><h3>Recursos</h3><hr/>
											<div class="col-md-12"></div>
										{% endif %}
										{% if pregunta.grupo == '4' %}
											<hr/><h3>Población atendida</h3><hr/>
											<div class="col-md-12"></div>
										{% endif %}
									{% endif %}
								{% endwith %}
							{% else %}
								{% if pregunta.grupo == '1' %}
									<hr/><h3>Plan de desarrollo</h3><hr/>
									<div class="col-md-12"></div>
								{% endif %}
								{% if pregunta.grupo == '2' %}
									<hr/><h3>Información general</h3><hr/>
									<div class="col-md-12"></div>
								{% endif %}
								{% if pregunta.grupo == '3' %}
									<hr/><h3>Recursos</h3><hr/>
									<div class="col-md-12"></div>
								{% endif %}
								{% if pregunta.grupo == '4' %}
									<hr/><h3>Población atendida</h3><hr/>
									<div class="col-md-12"></div>
								{% endif %}
							{% endif %}
							{% if pregunta.grupo == '4' %}
								<div class="form-group col-md-6" style="margin-right: 10px;">
							{% else %}
								<div class="form-group col-md-12" style="margin-right: 10px;">
							{% endif %}
								<label for="valor">{{ pregunta.enunciado }}</label>
								{% if pregunta.tipo_pregunta != 'textarea' %}
									<input type="{{ pregunta.tipo_pregunta }}" id="valor_{{ politica.id }}_{{ pregunta.id }}" class="form-control input-sm" name="valor_{{ pregunta.id }}">
								{% else %}
									<textarea rows="4" id="valor_{{ politica.id }}_{{ pregunta.id }}" class="form-control input-sm" name="valor_{{ pregunta.id }}"></textarea>
								{% endif %}
							</div>
						{% endfor %}
					</form>
					<form action="" method="post">
						{% csrf_token %}
						<div class="form-group col-md-12">
							<h3>Observaciones</h3><hr/>
							<textarea rows="4" class="form-control" name="observaciones" id="observaciones"></textarea>
						</div>
						<div class="form-group text-center col-md-12">
							<input id="observaciones_{{ politica.id }}" type="button" class="btn btn-sm btn-info observaciones" value="Guardar"/>
						</div>
					</form>
				</div>
			</div>

		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}

{% block extrascripts %}
	<script src="{% static 'js/main.js' %}"></script>
{% endblock %}