{% extends extends %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="container well">



	<table id="grid" class="table table-striped table-hover dt-responsive nowrap">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Política pública</th>
				<th>Entidad</th>
				<th>Período</th>
				<th>Estado</th>
				<th>Detalle</th>
			</tr>
		</thead>
		<tbody>

			{% for formulariorespuesta in formulariorespuestas %}

			<tr>
				<td> {{ formulariorespuesta.fecha_envio |date:"Y / m / d" }} </td>
				<td> {{ formulariorespuesta.politica_publica }} </td>
				<td> {{ formulariorespuesta.entidad }} </td>
				<td> {{ formulariorespuesta.vigencia }} </td>				
				
				{% if formulariorespuesta.estado == "aprobado" %}
				<td>Aprobado</td>
				{% elif formulariorespuesta.estado == "pendiente" %}
				<td>Pendiente</td>
				{% elif formulariorespuesta.estado == "no_aprobado" %}
				<td>No aprobado</td>
				{% endif %}

				<td> <a href="{% url 'consultas:detalle' formulariorespuesta.pk  %}" class="btn btn-info btn-sm">Ver detalle</a> </td>
			</tr>

			{% endfor %}

		</tbody>
	</table> 

</div>



<script>
$(document).ready(function () {

	$('#grid').DataTable(

	{
		"order": [[ 0, "desc" ]],

		"language": {

			"url" : "//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"

		},


		"drawCallback": function () {
            $('.dataTables_paginate > .pagination').addClass('pagination-sm');
        }

	}

	);
});
</script> 
{% endblock %}