{% extends 'base/user_nav.html' %}
{% load staticfiles %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
	{% if politicas == 0%}
    <div class="jumbotron text-center">
	<h1>Aviso</h1>
		<p>El registro de indicadores no se encuentra habilitado.</p>
	</div>
	{% endif %}
	{% if politicas == '' %}
	<div class="jumbotron text-center">
		<h1>Aviso</h1>
		<p>Por favor verifique la entidad a la que pertenece y las políticas asociadas. Contacte al administrador. </p>
	</div>
	{% else %}
	{% if messages %}
	    {% for message in messages %}
	    	{% if message.tags == 'error' %}
	    		<div class="alert alert-danger text-center messages" style="opacity: 0.7">{{ message }}</div>
	    	{% else %}
	    		<div class="alert alert-{{ message.tags }} text-center messages" style="opacity: 0.7">{{ message }}</div>
	    	{% endif %}
	    {% endfor %}
	{% endif %}
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#resumen">Resumen</a> </li>
		{% for politica in politicas %}
   			<li> <a data-toggle="tab" href="#{{ politica.id }}">{{ politica.alias }}</a> </li>
		{% endfor %}
	</ul>

	<div class="tab-content ">
		<div class="tab-pane fade in active" id="resumen">
			<h3 class="text-center">Resumen de indicadores</h3>
			<table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th>Política Publica</th>
						<th>Cantidad de indicadores</th>
						<th>Indicadores diligenciados</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
					{% for key, value in indicadores_politica.items %}
					<tr>
						<td>{{ value.objeto.nombre }}</td>
						<td>{{ value.objeto.num_indicadores }}</td>
						<td>{{ value.num_enviados }}</td>
						<td>{{ value.estado }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<form id="formulario_envio" class="form-horizontal formulario" action="" method="post">
				{% csrf_token %}
				<input id="enviar" type="button" class="btn btn-sm btn-primary" value="Enviar"/>
			</form>
		</div>
		{% for politica in politicas %}
   			<div class="tab-pane fade" id="{{ politica.id }}"> 
				<h3 class="text-center">  {{ politica.nombre }} </h3>
				<hr/>
				<div id="data_{{ politica.id }}" class="data" style="display:none"></div>
				<hr id="wrapper_{{ politica.id }}" class="data-wrapper" style="display:none"/>
				<div id="errors_{{ politica.id }}" class="alert alert-dismissible alert-danger text-center errors" style="opacity: 0.7; display: none;">
				</div>
				<div>
					<form id = "formulario_{{ politica.id }}" class="form-horizontal formulario" action="" method="post">
						{% csrf_token %}
						<div class="form-group col-md-12">
							<label for="indicador">Indicador</label>
							<select id="indicador_{{ politica.id }}" name="indicador" class="form-control input-sm indicadores">
								<option value="null">Ninguno</option>
								{% for indicador in indicadores %}
									{% if indicador.politica_publica == politica %}
										<option value="{{ indicador.id }}">{{ indicador.nombre }}</option>
									{% endif %}
								{% endfor %}
							</select>
							<p class="text-danger">{{ form.indicador.errors.0 }}</p>
						</div>
						{% for pregunta in preguntas %}
						<div class="form-group col-md-6" style="margin-right: 10px;">
							<label for="valor">{{ pregunta.enunciado }}</label>
							<input type="hidden" id="respuesta_{{ politica.id }}_{{ pregunta.id }}" name="respuesta_id_{{ pregunta.id }}">
							<input type="{{ pregunta.tipo_pregunta }}" id="valor_{{ politica.id }}_{{ pregunta.id }}" class="form-control input-sm" name="valor_{{ pregunta.id }}">
						</div>
						{% endfor %}
						<div class="form-group text-center">
							<input id="guardar_{{ politica.id }}" type="button" class="btn btn-sm btn-primary guardar" value="Guardar"/>
						</div>
					</form>
				</div>
			</div>

		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}

{% block extrascripts %}
	<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
