{% extends 'base/user_nav.html' %}
{% load staticfiles %}
{% load extra_filters %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container well">
	{% if politicas == 0%}
    <div class="jumbotron text-center">
	<h1>Aviso</h1>
		<p>El registro de indicadores no se encuentra habilitado.</p>
	</div>
	{% else %}
		{% if politicas == '' %}
		<div class="jumbotron text-center">
			<h1>Aviso</h1>
			<p>Por favor verifique la entidad a la que pertenece y las políticas asociadas. Contacte al administrador. </p>
		</div>
		{% else %}
		{% if messages %}
		    {% for message in messages %}
		    	{% if message.tags == 'error' %}
		    		<div class="alert alert-danger text-center messages" style="opacity: 0.7">{{ message }}</div>
		    	{% else %}
		    		<div class="alert alert-{{ message.tags }} text-center messages" style="opacity: 0.7">{{ message }}</div>
		    	{% endif %}
		    {% endfor %}
		{% endif %}
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#resumen">Resumen</a> </li>
			{% for politica in politicas %}
	   			<li> <a data-toggle="tab" href="#{{ politica.id }}">{{ politica.alias }}</a> </li>
			{% endfor %}
		</ul>

		<div class="tab-content ">
			<div class="tab-pane fade in active" id="resumen">
				<!-- <h3 class="text-center">Estado del formulario</h3>
				{% if not form.estado %}
					<label>Calificación</label><p>No enviado</p>
				{% else %}
					{% if form.estado == 'aprobado' %}
						<label>Calificación</label><p>Aprobado</p>
					{% else %}
						{% if form.estado == 'pendiente' %}
							<label>Calificación</label><p>Pendiente</p>
						{% else %}
							<label>Calificación</label><p>No aprobado</p>
							<label>Observaciones</label><p>{{ form.observaciones }}</p>
						{% endif %}
					{% endif %}
				{% endif %} -->
				<h3 class="text-center">Resumen de indicadores</h3>
				<table class="table table-striped table-hover ">
					<thead>
						<tr>
							<th>Política Publica</th>
							<th>Cantidad de indicadores</th>
							<th>Indicadores diligenciados</th>
							<th>Estado</th>
							<th>Calificación</th>
							<th>Enviar</th>
						</tr>
					</thead>
					<tbody>
						{% for key, value in indicadores_politica.items %}
						<tr>
							<td>{{ value.objeto.nombre }}</td>
							<td>{{ value.objeto.num_indicadores }}</td>
							<td>{{ value.num_enviados }}</td>
							<td>{{ value.estado }}</td>
							{% if value.calificacion.estado == 'pendiente' %}
								<td>Pendiente</td>
							{% else %}
								{% if value.calificacion.estado == 'aprobado' %}
									<td>Aprobado</td>
								{% else %}
									{% if value.calificacion.estado == 'no_aprobado' %}
										<td>No aprobado</td>
									{% else %}
										{% if value.calificacion.estado is None %}
											<td>No enviado</td>
										{% endif %}
									{% endif %}
								{% endif %}
							{% endif %}
							<td>
								<form id="formulario_envio_{{ value.objeto.id }}" class="form-horizontal formulario" action="" method="post">
									{% csrf_token %}
									<input type="button" class="btn btn-sm btn-info enviar" value="Enviar"/>
								</form>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% for politica in politicas %}
	   			<div class="tab-pane fade" id="{{ politica.id }}"> 
					<h3 class="text-center">  {{ politica.nombre }} </h3>
					<hr/>
					<div id="data_{{ politica.id }}" class="data" style="display:none"></div>
					<hr id="wrapper_{{ politica.id }}" class="data-wrapper" style="display:none"/>
					<div id="errors_{{ politica.id }}" class="alert alert-dismissible alert-danger text-center errors" style="opacity: 0.7; display: none;">
					</div>
					<div>
						<form id = "formulario_{{ politica.id }}" class="form-horizontal formulario" action="" method="post">
							<input type="hidden" id="form_{{ politica.id }}" name="form">
							{% csrf_token %}
							<div class="form-group col-md-12">
								<label for="indicador">Indicador</label>
								<select id="indicador_{{ politica.id }}" name="indicador" class="form-control input-sm indicadores">
									<option value="null">Ninguno</option>
									{% for indicador in indicadores %}
										{% if indicador.politica_publica == politica %}
											<option value="{{ indicador.id }}">{{ indicador.nombre }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
							{% for pregunta in preguntas %}
								{% if forloop.counter0 != 0%}
									{% with preguntas|prev:forloop.counter0 as prev %}
										{% if pregunta.grupo != prev.grupo %}
											{% if pregunta.grupo == '1' %}
												<hr/><h3>Información general</h3><hr/>
												<div class="col-md-12"></div>
											{% endif %}
											{% if pregunta.grupo == '2' %}
												<hr/><h3>Recursos</h3><hr/>
												<div class="col-md-12"></div>
											{% endif %}
											{% if pregunta.grupo == '3' %}
												<hr/><h3>Población atendida</h3><hr/>
												<div class="col-md-12"></div>
											{% endif %}
										{% endif %}
									{% endwith %}
								{% else %}
									{% if pregunta.grupo == '1' %}
										<hr/><h3>Información general</h3><hr/>
										<div class="col-md-12"></div>
									{% endif %}
									{% if pregunta.grupo == '2' %}
										<hr/><h3>Recursos</h3><hr/>
										<div class="col-md-12"></div>
									{% endif %}
									{% if pregunta.grupo == '3' %}
										<hr/><h3>Población atendida</h3><hr/>
										<div class="col-md-12"></div>
									{% endif %}
								{% endif %}
								{% if pregunta.grupo == '3' %}
									<div class="form-group col-md-6" style="margin-right: 10px;">
								{% else %}
									<div class="form-group col-md-12" style="margin-right: 10px;">
								{% endif %}
									<label for="valor">{{ pregunta.enunciado }}</label>
									<input type="hidden" id="respuesta_{{ politica.id }}_{{ pregunta.id }}" name="respuesta_id_{{ pregunta.id }}">
									{% if pregunta.tipo_pregunta != 'textarea' %}
										<input type="{{ pregunta.tipo_pregunta }}" id="valor_{{ politica.id }}_{{ pregunta.id }}" class="form-control input-sm" name="valor_{{ pregunta.id }}">
									{% else %}
										<textarea rows="4" id="valor_{{ politica.id }}_{{ pregunta.id }}" class="form-control input-sm" name="valor_{{ pregunta.id }}"></textarea>
									{% endif %}
								</div>
							{% endfor %}
							<div class="form-group text-center col-md-12">
								<input id="guardar_{{ politica.id }}" type="button" class="btn btn-sm btn-info guardar" value="Guardar"/>
							</div>
						</form>
					</div>
				</div>

			{% endfor %}
		</div>
		{% endif %}
	{% endif %}
</div>
{% endblock %}

{% block extrascripts %}
	<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
