{% extends extends %}
{% load extra_filters %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container well">

	<ul class="nav nav-tabs">
		{% for politica in politicas %}
			{% if forloop.first %}
				<li class="active"><a data-toggle="tab" href="#{{ politica.id }}">{{ politica.alias }}</a></li>	
   			{% else %}
   				<li><a data-toggle="tab" href="#{{ politica.id }}">{{ politica.alias }}</a></li>
    		{% endif %}	
		{% endfor %}	
	</ul>
	<div class="tab-content ">
		{% for politica in politicas %}
			{% if forloop.first %}
				<div class="tab-pane fade in active" id="{{ politica.id }}">	
   			{% else %}
   				<div class="tab-pane fade" id="{{ politica.id }}">
    		{% endif %}
   			<br/>
			<table id="tabla_{{ politica.id }}" class="table table-striped table-hover dt-responsive grid">
				<thead>
					<tr>
						<th>Indicador</th>
						{% for header in headers %}
							<th>{{ header }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for indicador in indicadores %}
						{% with index='meta' %}
							{% with index2='avance' %}
								{% with index3='porcentaje' %}
									{% if respuestas|return_item:politica.id|return_item:indicador.id|return_item:index is not None and respuestas|return_item:politica.id|return_item:indicador.id|return_item:index2 is not None %}
										{% if indicador.politica_publica == politica %}
											<tr>
												<td>{{ indicador.nombre }}</td>
												<td>{{ respuestas|return_item:politica.id|return_item:indicador.id|return_item:index2|return_item:0 }}</td>
												<td>{{ respuestas|return_item:politica.id|return_item:indicador.id|return_item:index }}</td>	
												<td>{{ respuestas|return_item:politica.id|return_item:indicador.id|return_item:index3 }}</td>	
											</tr>
										{% endif %}	
									{% endif %}
								{% endwith %}
							{% endwith %}
						{% endwith %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endfor %} 
</div>



<script>
$(document).ready(function () {

	$( "table.grid" ).each(function() {
		$( this ).DataTable(

		{

			"language": {

				"url" : "//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"

			},


			"drawCallback": function () {
				$('.dataTables_paginate > .pagination').addClass('pagination-sm');
			}

		}

		);

	});
});
</script> 
{% endblock %}