{% extends extends %}
{% load extra_filters %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container well">

	<ul class="nav nav-tabs">
		{% for politica in politicas %}
			{% if forloop.first %}
				<li class="active"><a data-toggle="tab" href="#{{ politica.id }}">{{ politica.alias }}</a></li>	
   			{% else %}
   				<li><a data-toggle="tab" href="#{{ politica.id }}">{{ politica.alias }}</a></li>
    		{% endif %}	
		{% endfor %}	
	</ul>
	<div class="tab-content ">
		{% for politica in politicas %}
			{% if forloop.first %}
				<div class="tab-pane fade in active" id="{{ politica.id }}">	
   			{% else %}
   				<div class="tab-pane fade" id="{{ politica.id }}">
    		{% endif %}
   			<br/>
			<table id="tabla_{{ politica.id }}" class="table table-striped table-hover dt-responsive nowrap grid">
				<thead>
					<tr>
						{% with index=politica.id %}
							{% if niveles|return_item:index %}
								{% with niv=niveles|return_item:index %}
									<th>{{ niv.nivel1 }}</th>
									<th>{{ niv.nivel2 }}</th>
									<th>{{ niv.nivel3 }}</th>
								{% endwith %}
							{% endif %}
						{% endwith %}
						<th>Indicador</th>
						{% for header in headers %}
							<th>{{ header.enunciado }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for indicador in indicadores %}
						{% with index=indicador.id %}
							{% if respuestas|return_item:index %}
								{% if indicador.politica_publica == politica %}
									<tr>
										<td>{{ indicador.nivel1 }}</td>
										<td>{{ indicador.nivel2 }}</td>
										<td>{{ indicador.nivel3 }}</td>
										<td>{{ indicador.nombre }}</td>
										{% for respuesta in respuestas|return_item:index %}
											<td>{{ respuesta.valor }}</td>
										{% endfor %}
									</tr>
								{% endif %}	
							{% endif %}
						{% endwith %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endfor %} 
</div>



<script>
$(document).ready(function () {

	$( "table.grid" ).each(function() {
		$( this ).DataTable(

		{

			"language": {

				"url" : "//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"

			},


			"drawCallback": function () {
				$('.dataTables_paginate > .pagination').addClass('pagination-sm');
			}

		}

		);

	});

	/*$('.grid').DataTable(

	{

		"language": {

			"url" : "//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"

		},


		"drawCallback": function () {
			$('.dataTables_paginate > .pagination').addClass('pagination-sm');
		}

	}

	);*/
});
</script> 
{% endblock %}