{% extends extends %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<h2>SRPP - Sistema de Registro de Políticas Públicas</h2>
		<!-- <p>Bienvenido {{ user.groups.all.0|capfirst }}</p> -->
		
		<p align="justify">Bienvenido/a al SRPP, en esta herramienta usted podrá consignar toda la información consolidada para el seguimiento a las políticas públicas que son responsabilidad de su entidad. Además podrá realizar reportes y monitorear la trazabalididad del seguimiento entre su dependencia y el Observatorio de Políticas Públicas.</p>
	 	<!-- <p><a class="btn btn-primary btn-lg">Learn more</a></p> -->
	</div>
</div>
{% endblock %}